{% extends "base_js.html" %}

{% block extrahead %}
{{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".recipes").sortable({ connectWith: '.recipes'});
            $("h2").click(function(event){
                var meals = {};
                $('#mealList').children('li').each(function(idx, elm) {
                    var recipes = [];
                    $(elm).find('ul').children('li').each(function(idx2, elm2) {
                        recipes.push($(elm2).attr("recipe_id"));
                    })
                    meals[$(elm).attr("meal_id")] = recipes;
                });
                $.post("{% url planning.views.update %}", { "new_planning": JSON.stringify(meals)}, function (data, textStatus) {
                    $("#response").html(data);
                });
            });
        });
    </script>
    <style>
        .recipes { list-style-type: none; margin: 0; background: #eee; padding: 5px; }
        .recipes li { margin: 5px; }
    </style>
{% endblock %}

{% block content %}
<h2>Meals</h2>

<div id=response></div>

<p>Between {{ from }} and {{ to }}</p>

<ul id="mealList">
  {% for m in meals %}
  <li meal_id="{{ m.id }}">
      <p> {{ m }}, {{ m.persons }} persons</p>
      <ul class="recipes">
          {% for recipe in m.recipes.all %}
              <li recipe_id="{{ recipe.id }}"> {{ recipe }} </li>
          {% endfor %}
      </ul>
  </li>
  {% endfor %}
</ul>
{% endblock %}
